* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    position: relative;
    height: 100%;
}


.container .nav-bar {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 150px;
    height: 100%;
    color: #AAAAAA;
}

.container .nav-bar .nav-list {
    display: flex;
    flex-direction: column;  
}


.nav-bar .nav-list .nav-item {
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-bottom: 1px solid #ccc;
    height: 44px;
    cursor: pointer;
}
.nav-bar .nav-list .nav-item:hover {
    background-color: #5C5C5C;
    color: #fff;
}


.main-content {
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

.main-content .main-title {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content .main-des {
    margin-top: 30px;
    width: 100%;
    background-color: #EFEFEF;
}

.main-des .des-title {
    padding-top: 38px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.main-des .des-text {
    width: 65%;
    padding: 18px 0 38px;
    margin: 0 auto;
    text-align: center;
}
.main-des .des-text p {
    line-height: 18.75px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}


.main-content .main-list {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;

}

.main-list .list-item {

}

.main-list .list-item span{
    font-size: 24px;
    font-weight: 700;
    
}

.main-list .list-item .item-content {
    margin-top: 18px;
    display: flex;
    gap: 16px;
}

.main-list .list-item .item-content p {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
}

.copyRight {
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    height: 79px;
    width: 100%;
}

.copyRight {
    padding: 30px 0 30px 129px;
}